<div class="banner banner_size_{{banner.size}}" style="background-image: url('{{ banner.image | relative_url }}')">
    <div class="banner_inner" data-replace="{{banner.list | jsonify | uri_escape}}">

        {% capture first%}
        <span class="banner_replacing">{{banner.list[0]}}</span><span class="banner_blinker"></span>
        {% endcapture %}
        {% if banner.level == 1 %}<h1>{% else if banner.level == 2 %}<h2>{% else if banner.level == 3 %}<h3>{%
                    endif %}

                    {{banner.content | replace: '$',first}}
                    {% if banner.level == 3 %}</h3>{% else if banner.level == 2 %}</h2>{% else if banner.level == 1
            %}</h1>{%
        endif %}
    </div>
</div>