---
---

@import "minima";
$midgroundGrey: #84828e;
$backgroundGrey: #474452;
$fontcolor: #333333;
body {
  color: $fontcolor;
}
.banner {
  text-align: center;
  position: relative;
  background: $midgroundGrey;
  background-size: cover;
  background-position: center bottom;
  font-weight: bold;
  color: white;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #8b86a3, #322e40);
    opacity: 0.5;
  }
  h1,
  h2,
  h3 {
    font-size: 3em;
  }
}
.banner_inner {
  position: relative;
}
.banner_size_full {
  padding-top: 20vh;
  height: 70vh;
}
.banner_size_half {
  padding-top: 15vh;
  height: 30vh;
}
.banner_blinker {
  width: 3px;
  display: inline-block;
  height: 1em;
  &.active {
    background: white;
    position: relative;
    top: 0.16em;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
} // .button { // display: inline-block; // border: 3px solid $gruen; // border-radius: 5px; // padding: 0.5em 1em; // color: $gruen; // &:hover, // &:active, // &:focus { // background-color: $black; // color: black; // } // }
@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.cta {
  text-align: center;
  background: $backgroundGrey;
  padding: 5em 0;
  color: white;
  h4 {
    font-size: 2em;
  }
  a {
    font-size: 1.2em;
    display: inline-block;
    margin: 1em 0;
    padding: 15px 35px;
    border: none;
    background-color: white;
    color: $fontcolor;
    border-radius: 3px;
    border: 3px solid white;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      box-shadow: 0 0 0 3px inset $fontcolor;
    }
  }
}
