<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}
    {%- include banners.html -%}

    {% unless page.hideContent %}
    <main class="page-content {% if page.inverted %}inverted{% endif %}" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {% endunless %}

    {%- include footer.html -%}
    <script type="application/javascript" src="{{ 'assets/main.js' | relative_url }}"></script>
</body>

</html>